<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.cfogrady.vitalwear">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
    This permission is required to access step counter for API level 29+
    Ideally, we split the code path based on device API level for this and
    hit up Health Services or some other API
     -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".VitalWearApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <provider
            xmlns:tools="http://schemas.android.com/tools"
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".character.activity.CharacterSelectActivity"/>
        <activity android:name=".character.activity.NewCardActivity"/>
        <activity android:name=".training.TrainingMenuActivity"/>
        <activity android:name=".training.TrainingActivity"/>
        <activity android:name=".stats.StatsMenuActivity"/>
        <activity android:name=".battle.BattleActivity"/>
        <service
            android:name=".tiles.PetTileService"
            android:label="VitalWear"
            android:description="@string/tile_description"
            android:exported="true"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data android:name="androidx.wear.tiles.PREVIEW"
                android:value="VitalWear"
                android:resource="@drawable/tile_preview"/>

        </service>
        <service
            android:name=".complications.PartnerComplicationService"
            android:exported="true"
            android:icon="@drawable/complication_preview"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />

            <!--
            When your complication data provider is active, UPDATE_PERIOD_SECONDS specifies how
            often you want the system to check for updates to the data. A zero value means you
            will manually trigger updates.
            In general, you want to manually trigger updates only when your complication data
            actually changes via ProviderUpdateRequester (check
            ComplicationTapBroadcastReceiver.java for an example).
            If you do decide to use UPDATE_PERIOD_SECONDS, set the interval in the order of minutes.
            A good value might be 600 seconds (10 minutes) if you need updates pulled often.
            Also, remember that this is only a guidance for the system. Android Wear may update less
            frequently.
            -->
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <receiver android:name=".complications.PartnerComplicationReceiver" />
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>